<div class="mt-5 sticky-top" >
    <div class="sys-container">
      <div class="sys-row">
          <div class="col-md-3">
            <sys-card title="Typography" subTitle="Font size, weight and more.." [horigentalCard]="true" routerLink="/typo">
              <sys-card-content>

              </sys-card-content>
              <sys-card-action>
                <img src="../../assets/Vector.svg" alt="">
              </sys-card-action>
            </sys-card>
          </div>
          <div class="col-md-3">
            <sys-card title="Uilities"   subTitle="Colors, backgrounds, flex..." [horigentalCard]="true">
              <sys-card-content>

              </sys-card-content>
              <sys-card-action>
                <img src="../../assets/🦆 icon _Edit_.svg" alt="">
              </sys-card-action>
            </sys-card>
          </div>
          <div class="col-md-3">
            <sys-card title="Components"  subTitle="Tree, cards, Buttons..." [horigentalCard]="true">
              <sys-card-content>

              </sys-card-content>
              <sys-card-action>
                <img src="../../assets/🦆 icon _th-large_.svg" alt="">
              </sys-card-action>
            </sys-card>
          </div>
           <div class="col-md-3">
            <sys-card title="Layouts"  subTitle="Grid, column, container..." [horigentalCard]="true"  >
              <sys-card-content>

              </sys-card-content>
              <sys-card-action>
               <img src="../../assets/🦆 icon _Border None_.svg" alt="">
              </sys-card-action>
            </sys-card>
          </div>
      </div>
    </div>
</div>


<router-outlet></router-outlet>
