<div class="main">
  <div class="sys-container head">
    <div class="flex gap-sm align-i-center justify-c-center mt-3">
      <header class="sys-radius-sm w-100">
          <div class="sys-container">
              <div class="sys-grid  align-i-center justify-c-between">
                  <div class="col-md-4">
                      <div class="sys-logo">
                          <h1 class="title">SYS DESIGN</h1>
                          <p class="sub-title">New gen. frontend library</p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <ul class="sys-menu justify-c-end">
                          <li>
                              <a routerLink="/home" routerLinkActive="active">
                              <i class="fa-solid fa-home"></i>Home
                              </a>
                          </li>
                          <li>
                              <a >Documentation</a>
                          </li>
                          <li>
                              <a >Components</a>
                          </li>
                          <li>
                              <a >Showcase</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </header>
      <div class="social-media flex gap-sm">
            <button class="sys-button ripple rounded">
                <i class="fa-brands fa-discord text-accent-90"></i>
            </button>
            <button class="sys-button ripple rounded">
                <i class="fa-brands fa-npm text-error-90"></i>
            </button>
            <button class="sys-button ripple rounded">
                <i class="fa-brands fa-git text-secondary-90"></i>
            </button>
      </div>
    </div>

</div>

<router-outlet></router-outlet>

</div>

