<article class="mt-5">
  <div class="sys-container">
    <div class="sys-grid">
        <div class="col-md-4">
          <sys-card title="UX Support" subTitle="Based on Figma" [horigentalCard]="true">
            <sys-card-content>

            </sys-card-content>
            <sys-card-action>
              <img src="https://raw.githubusercontent.com/programmingashram/sys-doc-2.0/1664db489206930485c5639083d4a727ac06bfdb/src/assets/%F0%9F%A6%86%20icon%20_Figma_.svg" alt="" style="width: 50%;">
            </sys-card-action>
          </sys-card>
        </div>
         <div class="col-md-4">
          <sys-card title="UI Support" subTitle="Based on Angular" [horigentalCard]="true">
            <sys-card-content>

            </sys-card-content>
            <sys-card-action>
              <img src="https://raw.githubusercontent.com/programmingashram/sys-doc-2.0/1664db489206930485c5639083d4a727ac06bfdb/src/assets/%F0%9F%A6%86%20icon%20_Angular_.svg" alt="" style="width: 50%;">
            </sys-card-action>
          </sys-card>
        </div>
         <div class="col-md-4">
          <sys-card title="Bug Support" subTitle="Based on Front end Lang" [horigentalCard]="true">
            <sys-card-content>

            </sys-card-content>
            <sys-card-action>
              <img src="https://raw.githubusercontent.com/programmingashram/sys-doc-2.0/1664db489206930485c5639083d4a727ac06bfdb/src/assets/%F0%9F%A6%86%20icon%20_Bug_.svg" alt="" style="width: 50%;">
            </sys-card-action>
          </sys-card>
        </div>
    </div>
  </div>
</article>

<article class="mt-4 themeSection">
  <div class="sys-container">
      <div class="sys-grid align-i-center">
        <div class="col-md-4">
          <img src="https://raw.githubusercontent.com/programmingashram/sys-doc-2.0/1664db489206930485c5639083d4a727ac06bfdb/src/assets/Group%204.svg" alt="" class="w-100">
        </div>
        <div class="col-md-4">
          <div class="text-center">
            <img src="https://raw.githubusercontent.com/programmingashram/sys-doc-2.0/1664db489206930485c5639083d4a727ac06bfdb/src/assets/%F0%9F%A6%86%20icon%20_Brush_.svg" alt="">
            <h6 class="mt-2">Customize the theme accordion to your Design</h6>
            <div class="flex justify-c-center mt-3">
                <sys-button icon="published_with_changes" [iconBtn]="true" (click)="onSubmit()"></sys-button>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <img src="https://raw.githubusercontent.com/programmingashram/sys-doc-2.0/1664db489206930485c5639083d4a727ac06bfdb/src/assets/Frame%2010.svg" alt="" class="w-100">
        </div>
      </div>
  </div>
</article>

<article class="mt-5">
  <div class="sys-container-lg">
    <div class="sys-grid">
        <div class="col-md-4">
          <sys-card title="Button" [divider]="true" subTitle="Default, Outline, Icon">
            <sys-card-content>
                <div class="flex mt-3 mb-3 justify-c-center">
                  <sys-button icon="local_fire_department">Sys Button</sys-button>

                </div>
                <div class="text-center">
                    <div class="flex gap-sm justify-c-center">
                      <sys-button icon="add" [iconBtn]="true"></sys-button>
                      <sys-button icon="add" [iconBtn]="true" color="accent"></sys-button>
                      <sys-button icon="delete" [iconBtn]="true" class="textBtn" color="accent"></sys-button>
                    </div>
                </div>
            </sys-card-content>
          </sys-card>
        </div>
         <div class="col-md-4">
          <sys-card title="Tree" [divider]="true" subTitle="Default, With custom Icon">
            <sys-card-content>
              <div class="p-2">
                  <div class="flex justify-c-center">
                    <sys-tree [nodes]="nodes"></sys-tree>
                  </div>
              </div>
            </sys-card-content>
          </sys-card>
        </div>
         <div class="col-md-4">
          <sys-card title="Slide Toggle" [divider]="true" subTitle="Toggle switch">
            <sys-card-content>
              <div class="wrap justify-c-center align-i-center mt-3">
                <sys-slide type="checkbox" [divider]="true" label="Enable Wifi" [switchCard]="true" [selected]="true"></sys-slide>

                <sys-slide type="checkbox" [divider]="true" [accent]="true" label="Notofication" [switchCard]="true" [selected]="true"></sys-slide>
              </div>
            </sys-card-content>
          </sys-card>
        </div>
    </div>
  </div>

</article>

<article class="mt-5 mb-5">
  <div class="mt-4">
    <div class="sys-container">
      <div class="sys-row">
          <div class="col-md-3">
            <sys-card title="Typography" icon="text_fields" [flatImage]="true" subTitle="Font size, weight and more.." cardImg="https://www.uxdesigninstitute.com/blog/wp-content/uploads/2022/02/94_ui_design_tools_illustration_blog.jpg">
              <sys-card-content>

              </sys-card-content>
              <sys-card-action>
                <sys-button icon="check" class="textBtn" color="secondary" routerLink="/typo">
                  Read now
                </sys-button>
              </sys-card-action>
            </sys-card>
          </div>
          <div class="col-md-3">
            <sys-card title="Uilities"  [flatImage]="true" subTitle="Colors, backgrounds, flex..." icon="bubble_chart" cardImg="https://uploads-ssl.webflow.com/6023fdfa97944f09d6a27ac6/643472b914a8f57a11ae98bf_public%20utility%20main.jpg">
              <sys-card-content>

              </sys-card-content>
              <sys-card-action>
                <sys-button icon="check" class="textBtn" color="secondary">
                  Read now
                </sys-button>
              </sys-card-action>
            </sys-card>
          </div>
          <div class="col-md-3">
            <sys-card title="Components"  [flatImage]="true" subTitle="Tree, cards, Buttons..." icon="widgets" cardImg="https://www.qed42.com/sites/default/files/styles/featured_image/public/2022-05/6%20Purposeful%20Illustration%20Systems%20for%20Everyone%203-min.png?itok=G3k4rbJT">
              <sys-card-content>

              </sys-card-content>
              <sys-card-action>
                <sys-button icon="check" class="textBtn" color="secondary">
                  Read now
                </sys-button>
              </sys-card-action>
            </sys-card>
          </div>
           <div class="col-md-3">
            <sys-card title="Layouts"  [flatImage]="true" subTitle="Grid, column, container..." icon="grid_4x4" cardImg="https://blog.shiftasia.com/content/images/2022/12/Screen-Shot-2022-12-02-at-10.48.47-1.png">
              <sys-card-content>

              </sys-card-content>
              <sys-card-action>
                <sys-button icon="check" class="textBtn" color="secondary">
                  Read now
                </sys-button>
              </sys-card-action>
            </sys-card>
          </div>
      </div>
    </div>
    <div class="flex justify-c-center mt-3">
      <sys-button icon="local_fire_department" routerLink="/docs">Getting Started</sys-button>
    </div>
</div>

</article>
<img src="https://raw.githubusercontent.com/programmingashram/sys-doc-2.0/master/src/assets/sun-png-5481.png" alt="" class="sun illustrat" id="sun" *ngIf="!moon && sun">

<img src="https://raw.githubusercontent.com/programmingashram/sys-doc-2.0/master/src/assets/58f9febe0ed2bdaf7c128330%20(1).png" alt="" class="moon illustrat" id="moon" *ngIf="moon && !sun">
