::ng-deep{
  .sys-card .sys-card-head .title{
    font-weight: 500 !important;
  }
}
.head{
  position: sticky;
  top: 20px;
  z-index: 999;
}
.sun{
  position: fixed;
  top: 0;
  z-index: -1;
  left: 0;
  width: 400px;
  transform: translateY(0px);
  border-radius: 100%;
}

::ng-deep{
  .cardImg{
    img{
      height: 176px;
      object-fit: cover;
    }
  }
}

.moon{
  position: fixed;
  top: 0;
  z-index: -1;
  right: 0;
  width: 400px;
  transform: translateY(0px);
}

.illustrat{
  transform: translateY(0px);
  animation: slideUp 2s;
}

@keyframes slideUp {
  from{
    transform: translateY(358px);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}



::ng-deep{
  .sys-card-body{
     padding: 10px;
  }
}
::ng-deep{
  .treeIcon{
    color:  orange
  }
  .expend{
    display:  none !important;
  }
  .child {
    .treeIcon{
      color:  gray
    }
  }
}

header{
  a{
    font-size: 12px;
  }
}

.themeSection .sys-grid{
    padding: 1rem;
    background: #80808021;
    border-radius: 1rem;
    box-shadow: 10px 9px 18px 0px gray;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
}
